.btn-primary, .btn-default,
.btn-default:link,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  font-size: 13px;
  padding: 8px 35px;
  outline: none !important; }

a:link,
a:active,
a:hover {
  outline: none !important;
  text-decoration: none; }

.btn-primary {
  background-color: #3e7ad8;
  margin-right: 20px; }

html {
  overflow: hidden; }

p {
  margin-bottom: 0; }

.form-control {
  font-size: 12px; }

.btn-primary {
  background: #3e7ad8; }

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none; }

.modal-header,
.modal-footer {
  border: none; }

.modal-box-info {
  position: absolute;
  background-color: #fff;
  white-space: nowrap;
  padding: 5px 10px 5px 30px;
  box-shadow: 0 0 10px #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  display: none; }
  .modal-box-info:after {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 5px;
    left: 8px;
    vertical-align: middle;
    background: url(../img/icon.png) no-repeat 0 0; }

html {
  height: 100%; }
  html body {
    height: 100%;
    background-color: #eff4f8;
    position: relative; }

.icon-img {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/icon-den.png) no-repeat;
  background-position: -237px -5px;
  vertical-align: middle; }

.err-msg {
  color: #ff3038;
  margin-top: 3px;
  font-size: 12px;
  opacity: 0;
  margin-bottom: 0; }

.show-msg {
  opacity: 1; }

.hide-icon-img {
  opacity: 0; }

.control-label {
  width: 105px;
  white-space: nowrap; }

.con-top-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 999;
  background-color: red; }
  .con-top-box .top-box-bg {
    background-color: #fff;
    height: 100%; }
    .con-top-box .top-box-bg > a {
      width: 160px;
      height: 100%;
      float: left; }
    .con-top-box .top-box-bg .top-right {
      margin-left: 160px;
      box-sizing: border-box;
      width: 100%;
      height: 100%; }
    .con-top-box .top-box-bg > a > .eco-title {
      display: inline-block;
      float: left;
      width: 160px;
      height: 70px;
      color: #fff;
      text-align: center;
      line-height: 70px;
      font-size: 18px;
      letter-spacing: 2px;
      background: url("../img/logo.png") no-repeat 13px 16px;
      background-size: 130px; }
  .con-top-box .ul-top-left {
    float: left;
    margin-top: 15px;
    margin-left: 20px; }
    .con-top-box .ul-top-left > li {
      padding: 10px 10px;
      display: inline-block;
      margin-right: 20px;
      color: #666; }
      .con-top-box .ul-top-left > li a {
        color: #666; }
      .con-top-box .ul-top-left > li .posi-list {
        position: absolute;
        top: 40px;
        left: -8px;
        display: none;
        background-color: #fff;
        box-shadow: 0 0 10px #ccc;
        padding: 10px 0; }
        .con-top-box .ul-top-left > li .posi-list li {
          white-space: nowrap;
          padding: 5px 20px; }
  .con-top-box .ul-top-right {
    float: right;
    position: relative;
    margin-top: 15px;
    margin-right: 160px; }
    .con-top-box .ul-top-right li {
      display: inline-block;
      color: #666;
      padding: 10px 10px;
      position: relative;
      cursor: pointer; }
      .con-top-box .ul-top-right li a {
        color: #666;
        padding: 30px 0; }
      .con-top-box .ul-top-right li.user-name {
        padding-right: 30px;
        margin-right: 3px; }
        .con-top-box .ul-top-right li.user-name div {
          display: inline-block;
          margin-left: 20px; }
        .con-top-box .ul-top-right li.user-name .avatar-img-box {
          margin-left: 0;
          padding-bottom: 30px; }
          .con-top-box .ul-top-right li.user-name .avatar-img-box:hover .posi-list {
            display: block; }
        .con-top-box .ul-top-right li.user-name .avatar-img {
          width: 22px;
          height: 22px;
          position: relative; }
          .con-top-box .ul-top-right li.user-name .avatar-img img {
            width: 100%;
            height: 100%; }
          .con-top-box .ul-top-right li.user-name .avatar-img .posi-list {
            position: absolute;
            top: 35px;
            right: 0;
            display: none;
            background-color: #fff;
            box-shadow: 0 0 10px #ccc;
            padding: 10px 0;
            width: 100px; }
            .con-top-box .ul-top-right li.user-name .avatar-img .posi-list li {
              padding: 5px 20px 5px 20px;
              position: relative;
              display: block;
              text-align: center; }
              .con-top-box .ul-top-right li.user-name .avatar-img .posi-list li a {
                display: block;
                width: 100%;
                padding: 0; }
              .con-top-box .ul-top-right li.user-name .avatar-img .posi-list li a:hover {
                color: #3e7ad8; }
          .con-top-box .ul-top-right li.user-name .avatar-img.tost .posi-list {
            width: 200px; }
        .con-top-box .ul-top-right li.user-name .prompt::after {
          content: '';
          display: block;
          position: absolute;
          width: 8px;
          height: 8px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          top: 0;
          right: 0;
          background-color: #ff3038; }

.left-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 100%;
  background-color: #fff; }
  .left-box ul {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-top: 150px; }
    .left-box ul li {
      margin: 5px 0;
      font-size: 14px; }
      .left-box ul li.active a {
        color: #666; }
      .left-box ul li.com-info-logo {
        margin-bottom: 30px; }
        .left-box ul li.com-info-logo a {
          padding: 0; }
      .left-box ul li:hover a {
        color: #666; }
      .left-box ul li a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 15px 0;
        color: #C0C4CA;
        transition: .1s color ease-in; }
        .left-box ul li a .icon {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 10px;
          background-image: url(../img/iconAll.png);
          background-repeat: no-repeat;
          vertical-align: top; }
      .left-box ul li .com-name {
        font-size: 14px;
        color: #fff;
        letter-spacing: 1px; }
      .left-box ul li:nth-child(1) .icon {
        background-position: -34px -44px; }
      .left-box ul li.active:nth-child(1) .icon, .left-box ul li:nth-child(1):hover .icon {
        background-position: -67px -16px; }
      .left-box ul li:nth-child(2) .icon {
        background-position: -16px -24px; }
      .left-box ul li.active:nth-child(2) .icon, .left-box ul li:nth-child(2):hover .icon {
        background-position: -48px 1px; }
      .left-box ul li:nth-child(3) .icon {
        background-position: -49px -17px; }
      .left-box ul li.active:nth-child(3) .icon, .left-box ul li:nth-child(3):hover .icon {
        background-position: -68px 2px; }
      .left-box ul li:nth-child(4) .icon {
        background-position: 1px -63px; }
      .left-box ul li.active:nth-child(4) .icon, .left-box ul li:nth-child(4):hover .icon {
        background-position: 1px -44px; }
      .left-box ul li:nth-child(5) .icon {
        background-position: -16px -62px; }
      .left-box ul li.active:nth-child(5) .icon, .left-box ul li:nth-child(5):hover .icon {
        background-position: 0px -3px; }
      .left-box ul li:nth-child(6) .icon {
        background-position: 2px -78px; }
      .left-box ul li.active:nth-child(6) .icon, .left-box ul li:nth-child(6):hover .icon {
        background-position: -16px -78px; }
      .left-box ul li:nth-child(7) .icon {
        background-position: -69px -60px; }
      .left-box ul li.active:nth-child(7) .icon, .left-box ul li:nth-child(7):hover .icon {
        background-position: -51px -60px; }
      .left-box ul li:nth-child(8) .icon {
        background-position: -15px -95px; }
      .left-box ul li.active:nth-child(8) .icon, .left-box ul li:nth-child(8):hover .icon {
        background-position: 0 -95px; }
      .left-box ul li:nth-child(9) .icon {
        background-position: -43px -79px; }
      .left-box ul li.active:nth-child(9) .icon, .left-box ul li:nth-child(9):hover .icon {
        background-position: -65px -79px; }

.right-box {
  padding: 90px 20px 0 180px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto; }
  .right-box .tab-list-top {
    background-color: #fff;
    margin-bottom: 20px; }
    .right-box .tab-list-top li {
      box-sizing: border-box;
      overflow: hidden;
      text-align: center;
      float: left;
      border-bottom: 2px solid #fff; }
      .right-box .tab-list-top li.active {
        border-bottom: 2px solid #3e7ad8; }
      .right-box .tab-list-top li.active a {
        color: #333; }
      .right-box .tab-list-top li a {
        display: block;
        width: 100%;
        height: 100%;
        color: #999;
        padding: 15px 0; }
        .right-box .tab-list-top li a:hover {
          color: #333; }
  .right-box .panel {
    padding: 30px; }
    .right-box .panel p.title,
    .right-box .panel div.title {
      font-size: 18px;
      color: #3e7ad8;
      border-bottom: 1px solid #eff4f8;
      padding-bottom: 20px; }
    .right-box .panel p.title-mr-bottom,
    .right-box .panel div.title-mr {
      margin-bottom: 20px; }
    .right-box .panel .table, .right-box .panel tbody, .right-box .panel tr, .right-box .panel td, .right-box .panel th, .right-box .panel thead {
      border: none;
      text-align: center; }
    .right-box .panel thead tr, .right-box .panel thead td {
      padding-bottom: 20px; }
    .right-box .panel tbody tr, .right-box .panel tbody td {
      padding-bottom: 15px;
      color: #666;
      font-size: 14px; }
      .right-box .panel tbody tr a, .right-box .panel tbody td a {
        color: #666;
        transition: .1s color ease; }
        .right-box .panel tbody tr a:hover, .right-box .panel tbody td a:hover {
          color: #3e7ad8;
          text-decoration: underline; }

.resume-detail-box {
  box-sizing: border-box;
  padding: 30px 30px 0 30px;
  position: relative;
  height: calc(100% - 51px);
  overflow: auto; }
  .resume-detail-box .loading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -40px;
    z-index: 999; }
  .resume-detail-box div {
    box-sizing: border-box; }
  .resume-detail-box .user-box {
    color: #999999;
    margin-bottom: 40px; }
    .resume-detail-box .user-box .user-avatar-img-box {
      width: 84px;
      height: 84px;
      border-radius: 50%;
      overflow: hidden; }
      .resume-detail-box .user-box .user-avatar-img-box img {
        width: 100%;
        height: 100%; }
    .resume-detail-box .user-box .usre-name-title {
      font-size: 20px;
      color: #222;
      margin: 10px 0; }
      .resume-detail-box .user-box .usre-name-title .btn-download {
        font-size: 14px;
        color: #3e7ad8;
        margin-left: 20px; }
        .resume-detail-box .user-box .usre-name-title .btn-download:link a, .resume-detail-box .user-box .usre-name-title .btn-download:hover a {
          color: #3e7ad8;
          text-decoration: underline; }
    .resume-detail-box .user-box .user-sub-info-top {
      margin-bottom: 10px; }
    .resume-detail-box .user-box .user-phone {
      margin-right: 50px; }
  .resume-detail-box .resume-part-item-box {
    margin-bottom: 30px; }
    .resume-detail-box .resume-part-item-box p {
      color: #999;
      font-size: 12px;
      margin-bottom: 18px; }
    .resume-detail-box .resume-part-item-box .bold-title {
      color: #222;
      font-size: 16px; }
    .resume-detail-box .resume-part-item-box .bold {
      color: #444;
      font-size: 14px; }
    .resume-detail-box .resume-part-item-box .com-name {
      margin-right: 40px; }
    .resume-detail-box .resume-part-item-box .content {
      text-align: justify;
      color: #999;
      font-size: 12px;
      line-height: 18px; }

.modal-content {
  padding: 30px; }

.btn-add-box {
  display: inline-block;
  width: 80px;
  margin-right: 15px;
  float: left; }

.btn-add-box-list {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border: 1px solid #eee;
  float: left; }

.btn-add-box-list img {
  width: 100%;
  height: 100%; }

.btn-add-img {
  width: 80px;
  height: 80px;
  background-color: #eee;
  position: relative;
  cursor: pointer; }

.btn-add-img:after {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #fff;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -20px; }

.btn-add-img:before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 40px;
  background-color: #fff;
  top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -1px; }

.btn-add-box p {
  font-size: 12px;
  color: #427ee0;
  margin-top: 10px; }

.prompt-box {
  position: fixed;
  top: 150px;
  right: -350px;
  width: 340px;
  height: 215px;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
  transition: .3s all ease-in;
  z-index: 999;
  text-align: center; }
  .prompt-box.prompt-box-ac {
    right: 20px; }
  .prompt-box .title {
    font-size: 16px;
    color: #465C66;
    padding-top: 30px;
    margin-bottom: 20px; }
  .prompt-box .con {
    color: #999;
    margin-bottom: 40px; }
  .prompt-box a {
    display: inline-block;
    margin: 0 20px;
    padding: 10px 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .prompt-box .btn-exit {
    color: #333; }
  .prompt-box .btn-detail {
    color: #fff;
    background: #FC2449; }

/*# sourceMappingURL=public.css.map */
